.env
.DS_Store
__pycache__/
*.py[cod]
*.db
*.sqlite
*.jsonl

backend/venv/
backend/app/storage/*.db
backend/app/storage/*.jsonl
backend/app/storage/tldextract_cache/

frontend/node_modules/
frontend/dist/

.terraform/
*.tfstate
*.tfstate.*
.terragrunt-cache/
.env.aws.*
infra-inputs-dev.md
